<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Microdata Analysis with mention in Business Intelligence</h1>
            <span>University of Dalarna</span>
            <span><address>Borlänge, Sweden</address><time>2019 to 2020</time></span>
        </header>
        <p>
            <em>Thesis: Value Creation From User Generated Content for Smart Tourism Destinations.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Industrial Engineering with a Minor in IT</h1>
            <span>Adolfo Ibáñez University</span>
            <span><address>London, UK</address><time>2013 to 2018</time></span>
        </header>
        <p>
            <em>Graduated with 7.0/7.0 in the  Final 6-month Capstone project + Internship.</em>
        </p>
    </article>
</section>
