<section class="thirteen columns">
    <h1>Initiatives and Extra-Curricular</h1>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Adolfo Ibáñez University, Chile</address><time>2013 - 2018</time></span>
        </header>
        <p>
            Courses: Programming I, Physics I and Business Intelligence
        </p>
    </article>
    <article>
        <header>
            <h1>Student Volunteer</h1>
            <span><address>Adolfo Ibáñez University, Chile</address><time>2014 - 2016</time></span>
        </header>
        <p>
            Social action project created by students of the Adolfo Ibáñez University, whose main mission is to generate awareness about the different social problems that afflict Chile as a country, provide support to communities at risk through community building and development projects and mobilize young people students so that as professionals they dedicate themselves to creating a positive impact from their careers and areas of interest.
Some of the social projects that the organization generates: construction of emergency housing, social headquarters, playgrounds, workshops for children and adults of the community in vulnerable places, sharing with people in street situations, among others.
<br>

ADMINISTRATIVE FUNCTIONS IN CASTTVV<br>
August 2016 - December 2016 Member of Project's Department<br>


PARTICIPATION IN VOLUNTEERING<br>
Participation in the volunteering that takes place every winter and summer, where public spaces are recovered through the construction of playgrounds, pergolas or soccer fields while generating ties with the community.
<br>
July 2016 - Staff Member in charge of construction area in Winter Volunteering in Alhué<br>
January 2016 - Team leader in Summer Volunteering in Marchigüe<br>
July 2015 - Team Leader in Winter Volunteering in Peumo<br>
May 2015 - Team Leader in Emergency Housing constructions in Diego de Almagro<br>
January 2015 - Volunteer in Summer Volunteering in Quillota<br>
June 2014 - Volunteer in Emergency Housing construction in Valparaíso<br>
        </p>
    </article>
    
    <article>
        <header>
            <h1>Volunteer</h1>
            <span><address>Worldpackers</address><time>2018-2019</time></span>
        </header>
        <p>
            Worldpackers is a community that connects travelers looking to exchange their skills for accommodation with hosts from all around the world.
<br>
I was a volunteer in the following hostels:<br>
February 2018 - March 2018 Cleaning assistant in Maraca Hostel. Rio do Janeiro, Brasil.<br>
January 2019 - end February 2019 Receptionist at ITH Zoo hostel. San Diego, CA.<br>
March 2019 Receptionist at Hostel Kabeh. Cancún, México.<br>
        </p>
    </article>
</section>
