<section id="projects">
<div class="container">
  <h3>My Personal Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	   
	    		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/Things-to-do-in-Porto-analysis">Can we help boost the local businesses in Porto by analyzing reviews?</a></strong>
			- Exploring Kayak's information in their website to find potential insights to boost the local economy to fight the COVID's effects in the city of Porto.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/AISL">AISL</a></strong>
			- Playing with speech to text, text to image.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/extract-tweet">Twitter Extractor</a></strong>
			- Script to extract tweets.
		</h5>
    	<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/ikea-analysis-kmeans">K-Means: Ikea Analysis</a></strong>
			- Analysis of Ikea's stores and locations in Sweden.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/Restaurants-in-scandinavia-analysis">Restaurants in Scandinavia Analysis</a></strong>
			- Descriptive analysis about restaurants in Scandinavia.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/Topic-modelling-LSA-and-LDA-ALL">Topic modelling: LSA and LDA for attractions</a></strong>
			- Topic modelling using LSA and LDA for reviews extracted from TripAdvisor.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/fixed-sentiment-analysis-classification-tripadvisor">Sentiment Analysis: TripAdvisor</a></strong>
			- Sentiment analysis conducted with reviews of attractions of the city of Stockholm.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/n-gram-tripadvisor">N-gram TripAdvisor</a></strong>
			- N-grams analysis with reviews from TripAvisor.
		</h5>
	    
	    	<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/Tripadvisor-scrapper-2020">Web Scraping: TripAdvisor review scraper</a></strong>
			- Scraper of reviews from TripAvisor using Selenium & BeautifulSoup4.
		</h5>
	    	<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/Stock-analysis">Stock Portfolio Analysis</a></strong>
			- Script to review Stocks and analyze the best divesification of a portfolio.
		</h5>
	    
	    	<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/maxrojass/Spotify-analysis">Spotify Analysis</a></strong>
			- Descriptive Analysis of top ranked music in Sweden.
		</h5>
    </div>
  </div>
</div>
</section>
