<section class="thirteen columns">
    <h1>Programming & Soft Skills</h1>
    <article>
        <header>
            <h1></h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Googling, Python, Scraping, Critical Thinking, Analytics, Communication, Presentation</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em> SciKit-Learn, NLP, Statistics, Collaboration, SQL, Data Visualization, Git, AWS</em>
        </p>
       
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Tableau</em> &amp; <em>Javascript</em>
        </p>
    </article>
</section>
